# DATABASE SETTINGS
DATABASE_USER=admin
DATABASE_PASSWORD=admin
DATABASE_NAME=store_db

# API KEYS (LLMs)
GROQ_API_KEY=<your-api-key>
MODEL_NAME=openai/gpt-oss-120b

# LOCAL SETTINGS (Execução sem Docker)
# These variables are only useful if you run 'python main.py' or 'streamlit run ui/app.py' outside of Docker.
# When running via Docker Compose, they are overwritten in docker-compose.yml
DATABASE_HOST=localhost
DATABASE_PORT=5435
MCP_SERVER_URL=http://localhost:8080/sse

API_HOST=localhost
API_PORT=8000
API_BASE=/api/v1